<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create-course</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--nombre, sigla, institucion, descripcion-->

  <form>
    <h1>A</h1>

    <ion-list>
      <ion-item>
        <ion-input label="Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Sigla" labelPlacement="fixed"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Institución"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Descripción"></ion-input>
      </ion-item>
    </ion-list>

    <div class="btn">
      <ion-button>Agregar Curso</ion-button>
    </div>

  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/docente" color="medium">
        <ion-icon name="log-out-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>