<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Imagen en lugar de texto -->
    <ion-title slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png
" alt="Logo" class="small-image" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="body">
    <div class="container">
      <form (ngSubmit)="createCourse()">
        <div class="head">
          <span>Crear curso</span>
          <p>Complete los datos del curso.</p>
        </div>

        <!-- Campo Nombre -->
        <div class="inputs">
          <input class="input" type="text" [(ngModel)]="curso.nombre" name="nombre" placeholder="Nombre" required>
        </div>

        <!-- Campo Sigla -->
        <div class="inputs">
          <input class="input" type="text" [(ngModel)]="curso.sigla" name="sigla" placeholder="Sigla" required>
        </div>

        <!-- Campo Institución -->
        <div class="inputs">
          <input class="input" type="text" [(ngModel)]="curso.institucion" name="institucion" placeholder="Institución" required>
        </div>

        <!-- Campo Descripción -->
        <div class="inputs">
          <input class="input" type="text" [(ngModel)]="curso.descripcion" name="descripcion" placeholder="Descripción" required>
        </div>

        <!-- Botón de acción -->
        <button type="submit">Crear</button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/docente">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
