ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .card {
    width: 100%;
    max-width: auto;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    padding: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .card_header {
    display: flex;
    align-items: center;
  }
  
  .form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #6200ee;
  }
  
  .field {
    padding-bottom: 10px;
  }
  
  .input {
    border-radius: 10px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #6200ee;
  }
  
  .input:focus-visible {
    outline: 1px solid #9b55ff;
  }
  
  .input::placeholder {
    color: #bcbcdf;
  }
  
  label {
    color: #6200ee;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  button {
    background-color: #6200ee;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
    width: 100%;
    border-radius: 25px;
  }
  
  button:hover {
    background-color: #9b55ff;
  }
  