<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <form (ngSubmit)="registerUser()">
      <!-- Campo RUT -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.run" name="run" labelPlacement="floating" label="RUT" placeholder="123456789" required></ion-input>
      </ion-item>
  
      <!-- Campo Nombre -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.nombre" name="nombre" labelPlacement="floating" label="Nombre" placeholder="Ingrese su nombre" required></ion-input>
      </ion-item>
  
      <!-- Campo Apellido -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.apellido" name="apellido" labelPlacement="floating" label="Apellido" placeholder="Ingrese su apellido" required></ion-input>
      </ion-item>
  
      <!-- Campo Correo -->
      <ion-item>
        <ion-input type="email" [(ngModel)]="user.correo" name="correo" labelPlacement="floating" label="Correo" placeholder="Ingrese su correo" required></ion-input>
      </ion-item>
  
      <!-- Campo Código de invitación -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.codigo" name="codigo" labelPlacement="floating" label="Código de invitación" placeholder="Ingrese código" required></ion-input>
      </ion-item>
  
      <!-- Campo Perfil -->
      <ion-item>
        <ion-label>Perfil</ion-label>
        <ion-select [(ngModel)]="user.perfil" name="perfil" required>
          <ion-select-option value="docente">Docente</ion-select-option>
          <ion-select-option value="estudiante">Estudiante</ion-select-option>
        </ion-select>
      </ion-item>
  
      <!-- Botones de acción -->
      <ion-row>
        <ion-col>
          <ion-button id="register-alert" expand="block" type="submit" color="primary">Registrar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" [routerLink]="['/login']">Volver</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
