<ion-content [fullscreen]="true" class="login-background">

  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Bienvenido</h3>
          </div>
          <div class="panel-body p-3">
          
            <ion-list>
              <div class="form-group py-2">
                <ion-item>
                  <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating" placeholder="Ingrese nombre de usuario"></ion-input>
                </ion-item>
              </div>

              <div class="form-group py-1 pb-2">
                <ion-item>
                  <ion-input [(ngModel)]="password" label="Password" labelPlacement="floating" type="password" placeholder="Ingrese contraseña"></ion-input>
                </ion-item>
              </div>
            </ion-list>

            <ion-button (click)="login()">Iniciar sesión</ion-button>
           
            <div class="center-recover">
              <a id="recuperar-link" [routerLink]="['/recuperar']">¿Olvidaste tu contraseña?</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
</ion-content>
