@keyframes color {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

.login-background{
  display: flex;
  align-items: center;
}

.center-title {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  padding: 20px;

  max-width: 500px;
  width: 100%;
}

.panel {
  background-color: rgba(111, 5, 172, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); 
  padding: 20px;
  border-radius: 10px 60px 30px;
  border: 2px solid #6200ee;
}

.panel-heading h3 {
  text-align: center;
  color: #0a0a0a;
}

.input-field {
  display: flex;
  align-items: center;
}

.input-field input {
  border: none;
  outline: none;
  flex-grow: 1;
}

ion-item {
  --border-color: #6200ee;
}

ion-button {
  --background: #6200ee;
  --background-hover: #9b55ff;
  --color: white;
  --border-radius: 50px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 10px;
  --padding-bottom: 15px;
  display: flex;

}

.bordert {
  border-top: 1px solid #eee;
}

.bordert a img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.bordert a img:hover {
  transform: scale(1.1);
}

.center-recover{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.center-recover a{
  text-align: center;
  color: #6200ee;

}

