<div class="ion-page" id="main-content">


  <ion-content [fullscreen]="true">
    <h3>Bienvenido {{ username }}</h3>

    <img *ngIf="result"/>
    {{result}}

    <ion-button (click)="scan()"><ion-icon name="scan"></ion-icon>Escanear QR</ion-button>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button id="open-custom-dialog"  expand="block" fill="clear" routerLink="/recorded" color="medium"><ion-icon name="log-out-outline"></ion-icon>Cerrar sesión</ion-button>

        <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
          <ng-template>
            <div class="modal-wrapper">
              <h2>¿Deseas cerrar sesión?</h2>
              <ion-list lines="none">
                <ion-item button="true" detail="false" (click)="logout(); modal.dismiss()">
                  <ion-button expand="block" color="danger">Sí</ion-button>
                </ion-item>
                <ion-item button="true" detail="false" (click)="modal.dismiss()">
                  <ion-button expand="block" color="light">No</ion-button>
                </ion-item>
              </ion-list>
            </div>
          </ng-template>
        </ion-modal>


      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>