<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
 
  <ion-toolbar class="nav-toolbar">
    <ion-buttons>
      <ion-button [routerLink]="['/home']">🏠 Inicio</ion-button>
      <ion-button [routerLink]="['/contacto']">📞 Contacto</ion-button>
      <ion-button [routerLink]="['/nosotros']">ℹ️ Nosotros</ion-button>
      <ion-button [routerLink]="['/login']">🔑 Iniciar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Hola {{ username }}</p>
  </div>
</ion-content>