<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input label="Username" labelPlacement="floating" placeholder="Ingrese nombre de usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" labelPlacement="floating" type="password" placeholder="Ingrese contraseña">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button id="btn-login" expand="block" color="dark" shape="round">Ingresar</ion-button>
    <a id="recuperar-link" [routerLink]="['/recuperar']">Recuperar contraseña</a>
  </div>
</ion-content>