ion-header {
  --background: transparent; /* Hace el fondo del header transparente */
  --box-shadow: none; /* Elimina la sombra del header */
}

ion-toolbar {
  --background: transparent; /* Hace el fondo del toolbar transparente */
}

ion-toolbar.nav-toolbar {
  display: flex;
  justify-content: space-around; 
  align-items: center;
}

ion-button {
  margin: 0 110px; 
  --padding-start: 40; 
  --padding-end: 0; 
  --border-radius: 8px; 
}

ion-content {
  --background: linear-gradient(135deg, #83B1D3, #071047, #ca5656, #6e1717); 
  --padding: 0; 
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  color: #fff; 
  text-align: center;
}
