<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Imagen en lugar de texto -->
    <ion-title slot="start">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
        alt="Logo"
        class="small-image"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Clases Registradas</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="clases.length == 0">
      <ion-col>
        <p>No hay clases registradas.</p>
      </ion-col>
    </ion-row>

    <table *ngIf="clases.length > 0">
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Hora inicio</th>
        <th>Hora término</th>
      </tr>
      <tr *ngFor="let clase of clases">
        <td>{{ clase.codigo_web }}</td>
        <td>{{ clase.fecha }}</td>
        <td>{{ clase.hora_inicio }}</td>
        <td>{{ clase.hora_termino }}</td>
      </tr>
    </table>

    <ion-row>
      <ion-col>
        <ion-button (click)="toCreateClass(id_curso)">Crear Clase</ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="qrData">
      <ion-col class="qr-container">
        <div class="qr-background">
          <qrcode [qrdata]="qrData" class="qr-code"></qrcode>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="toDocente()" expand="block">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
