<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="toDocente()" fill="clear" routerLink="/recorded" color="medium">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-grid>
      <ion-row>
        <ion-col class="center-title">
          <ion-title class="small-title">{{ curso.nombre }}</ion-title>
        </ion-col>
        <ion-col class="right-subtitle" size="auto">
          <span class="subtitle">Analista Programador Computacional</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="button-container">
    <ion-button [routerLink]="['/create-class']">Crear Clase</ion-button>
  </div>

</ion-content>

