/* Estilo para el header */
.custom-toolbar {
  --background: rgba(0, 0, 0, 0.1); /* Fondo translúcido */
  --border-width: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo-header {
  width: 120px;
  height: auto;
}

/* Estilo para el contenido */
.content-container {
  --background: #f7f7f7; /* Fondo suave y claro */
  padding: 20px;
  margin-top: 80px; /* Asegurarse de que el contenido no se superponga al toolbar */
}

.page-title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.no-classes-text {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  margin-top: 50px;
}

/* Estilo para las tarjetas de clase */
.class-card {
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
}

.class-card ion-card-header {
  background-color: #e6e6e6;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
}

.class-card ion-card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Detalles de la clase */
.class-details {
  margin-top: 10px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.detail-label {
  font-weight: bold;
  color: #555;
}

.detail-item span {
  color: #333;
  font-size: 1rem;
}

/* Estilo para los botones */
.create-button {
  --background: #007bff;
  --color: white;
  border-radius: 30px;
  font-size: 1rem;
}

.create-button:hover {
  --background: #0056b3;
}

.button-col {
  text-align: center;
  margin-top: 20px;
}

.custom-footer {
  --background: #f7f7f7;
}

.back-button {
  --background: #d32f2f;
  --color: white;
  border-radius: 30px;
}

.back-button:hover {
  --background: #c5c5c5;
}
