<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title slot="start">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
        alt="Logo"
        class="logo-header"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <ion-grid>
    <ion-row class="title-row">
      <ion-col size="12">
        <h2 class="page-title">Clases Registradas {{ curso.nombre }}</h2>
      </ion-col>
    </ion-row>

    <!-- Botón "Crear Clase" debajo del título -->
    <ion-row>
      <ion-col size="12" class="button-col">
        <ion-button class="create-button" (click)="toCreateClass(id_curso)">
          Crear Clase
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="clases.length == 0">
      <ion-col>
        <p class="no-classes-text">No hay clases registradas.</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="clases.length > 0">
      <ion-col size="12" *ngFor="let clase of clases">
        <ion-card class="class-card">
          <ion-card-header>
            <ion-card-title>Fecha {{ clase.fecha }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="class-details">
              <div class="detail-item">
                <ion-label class="detail-label">Código web</ion-label>
                <span>{{ clase.codigo_web }}</span>
              </div>
              <div class="detail-item">
                <ion-label class="detail-label">Hora Inicio:</ion-label>
                <span>{{ clase.hora_inicio }}</span>
              </div>
              <div class="detail-item">
                <ion-label class="detail-label">Hora Término:</ion-label>
                <span>{{ clase.hora_termino }}</span>
              </div>

              <!-- Botón para generar QR -->
              <ion-row class="generate-qr-row" style="text-align: center;">
                <ion-col size="12">
                  <ion-button (click)="generateQRCode(clase.codigo_web)">
                    Generar QR
                  </ion-button>
                </ion-col>
              </ion-row>

              <!-- Código QR generado -->
              <div class="class-details" *ngIf="clase.showQRCode">
                <qrcode [qrdata]="clase.codigo_web"></qrcode>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-buttons slot="end">
      <ion-button (click)="toDocente()" expand="block" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
