<ion-content [fullscreen]="true">

  <div class="container">

    <div class="login-form">
      <div class="title-inicio">
        <h2>Recuperar contraseña</h2>
      </div>
      <ion-item>
        <ion-input [(ngModel)]="email" label="Email" labelPlacement="stacked" placeholder="Ingresa tu email"></ion-input>
      </ion-item>

      <ion-button id="present-alert" class="enviar-btn" [disabled]="!emailValido()" (click)="sendEmail()">Enviar</ion-button>
        <ion-alert
          trigger ="present-alert"
          header ="Enlace enviado"
          message = "Un correo con un enlace para restablecer tu contraseña ha sido enviado a tu correo electrónico."
          [buttons] = "alertButtons"
        ></ion-alert>

        <div class="center-recover">
          <a id="recuperar-link" [routerLink]="['/login']">Volver</a>
        </div>
    </div>
  </div>

</ion-content>