<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <br>
    <div class="title-inicio">
      <h1>Recuperar contraseña</h1>
    </div>

    <div class="login-form">
      <ion-item>
        <ion-input label="Email" labelPlacement="stacked" placeholder="Ingresa tu email"></ion-input>
      </ion-item>

      <ion-button id="enviar-btn">Enviar</ion-button>
      <div id="volver-home">
        <a [routerLink]="['/login']">Volver</a>
      </div>
    </div>
  </div>
</ion-content>