.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    padding: 20px;
}
  
.title-inicio {
    text-align: center;
    margin: 15px;
}

.title-inicio h2 {
    margin-top: 0;
    margin-bottom: 50px;
    color: black;
}

.login-form{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px 60px 30px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px 60px 30px;
    border: 2px solid #6200ee;
}

.center-recover{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.center-recover a{
  text-align: center;
  color: #6200ee;
}

.input-field {
  display: flex;
  align-items: center;
}

.input-field input {
  border: none;
  outline: none;
  flex-grow: 1;
}

ion-item {
  --border-color: #6200ee;
  --highlight-color-focused: #6200ee;
}

ion-button {
  --background: #6200ee;
  --background-hover: #9b55ff;
  --color: white;
  --border-radius: 50px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 10px;
  --padding-bottom: 15px;

  display: flex;
}

.enviar-btn {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#enviar-btn a {
    color: inherit;
    text-decoration: none;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}