<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="center-title">Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">
      <h3>Bienvenido {{ username }}</h3>
      <div class="grid">
        <ion-card *ngFor="let curso of cursos" class="course-card">
          <img [src]="curso.imagen" alt="Imagen del curso" class="course-image"/>
          <ion-card-title class="course-title">{{ curso.nombre }}</ion-card-title>
          <ion-card-content>
            <ion-button expand="block" (click)="goToCurso(curso)">Ingresar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="logout()" fill="clear" routerLink="/recorded" color="medium">
          <ion-icon name="play-circle"></ion-icon>
          Cerrar sesión
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
