<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <div id="container">
      <h3>Bienvenido {{ username }}</h3>

      <ion-button (click)="goToCreateCourse()">Agregar Curso</ion-button>

      <div class="grid">
        <ion-card *ngFor="let curso of cursos" class="course-card">
          <img [src]="curso.imagen" alt="Imagen del curso" class="course-image"/>
          <ion-card-title class="course-title">{{ curso.nombre }}</ion-card-title>
          <ion-card-content>
            <ion-button expand="block" (click)="goToCurso(curso)">Ingresar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button id="open-custom-dialog" expand="block">
          <ion-icon name="log-out-outline"></ion-icon>Cerrar Sesión
        </ion-button>

        <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
          <ng-template>
            <div class="modal-wrapper">
              <h2>¿Deseas cerrar sesión?</h2>
              <ion-list lines="none">
                <ion-item button="true" detail="false" (click)="logout(); modal.dismiss()">
                  <ion-button expand="block" color="danger">Sí</ion-button>
                </ion-item>
                <ion-item button="true" detail="false" (click)="modal.dismiss()">
                  <ion-button expand="block" color="light">No</ion-button>
                </ion-item>
              </ion-list>
            </div>
          </ng-template>
        </ion-modal>

      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
