<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="center-title">Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="container" class="ion-text-center">
      <p>Bienvenido {{ username }}</p>
      
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                📚
                <p>Secciones</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                📝
                <p>Evaluaciones</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                🗓️
                <p>Asistencia</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                📊
                <p>Reportes</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                💬
                <p>Mensajes</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                ✉️
                <p>Correo</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card>
              <ion-card-content>
                ⚙️
                <p>Ajustes</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Agregar pestañas -->
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-item [routerLink]="['/login']">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-tab-bar>
      </ion-tabs>
    </div>
  </ion-content>
</div>
