.custom-datetime {
    --width: 100%; 
    --min-width: 200px; 
    font-size: 0.9rem; 
    --padding-top: 0.5rem; 
    --padding-bottom: 0.5rem;
  }

  .small-image {
    width: 120px; 
    height: auto;
  }

ion-button{
  --background:#6200ee;
  --border-radius: 50px;
}